@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Helvetica Neue";
    src: url("/fonts/Helvetica-Neue.woff2") format("woff2");
    font-weight: 400;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: #fcfcfc;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
